body{
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.display-4{
  font-weight: 700;
  font-size: 2.5rem;
}
p{
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}
a{
  color: #ED1C24;
}
.nav-item a:hover{
  color: #333 !important;
}
.mt0{
  margin-top: 0 !important;
}
.mt1{
  margin-top: 1rem !important;
}
.mt2{
  margin-top: 2rem !important;
}
.mt3{
  margin-top: 3rem !important;
}
.mt-10{
  margin-top: -10px !important;
}

.mb0{
  margin-bottom: 0 !important;
}
.mb0h{
  margin-bottom: .5rem !important;
}
.mb1{
  margin-bottom: 1rem !important;
}
.mb2{
  margin-bottom: 2rem !important;
}
.mb3{
  margin-bottom: 3rem !important;
}
.mb4{
  margin-bottom: 4rem !important;
}

.mr0{
  margin-right: 0 !important;
}
.mr1{
  margin-right: 1rem !important;
}
.mr2{
  margin-right: 2rem !important;
}
.mr3{
  margin-right: 3rem !important;
}

.ml0{
  margin-left: 0 !important;
}
.ml1{
  margin-left: 1rem !important;
}
.ml2{
  margin-left: 2rem !important;
}
.ml3{
  margin-left: 3rem !important;
}
.ml-0h{
  margin-left: -.5rem !important;
}

.pt1{
  padding-top: 1rem !important;
}
.pl2{
  padding-left: 2rem !important;
}
.pl3{
  padding-left: 3rem !important;
}

.clear-margin{
  margin: 0;
}
.clear-padding{
  padding: 0;
}
.margin-auto{
  margin: 0 auto;
}

.d-flex{
  display: flex !important;
}
.d-block{
  display: block !important;
}
.d-none{
  display: none !important;
}

.align-center{
  align-items: center;
}
.self-center{
  align-self: center;
}
.justify-center{
  justify-content: center;
}
.justify-end{
  justify-content: flex-end;
}

.fs-1h{
  font-size: 1.5rem;
}

.section{
  padding: 40px 0;
  position: relative;
}
.background-grey{
  background-color: #fbfbfb;
}
.color-white{
  color: #fff;
}
.title{
  font-weight: 700;
  font-size: 2.25rem;
  position: relative;
  margin-bottom: 1rem;
  color: #000;
  font-family: 'Nunito', sans-serif;
  line-height: 2.75rem;
}
.title2{
  font-weight: 600;
  font-size: 18px;
  position: relative;
  margin-bottom: 1rem;
  color: #000;
  font-family: 'Nunito', sans-serif;
}
.subtitle{
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #000;
}
.subtitle-1-4{
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #000;
}
.subtitle-red{
  font-weight: 900;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #ED1C24;
}
ul, li{
  color: #333;
}
ul.list{
  list-style: none;
  padding-inline-start: 16px;
}
ul.list li{
  position: relative;
}
ul.list li + li{
  margin-top: .5rem;
}
ul.list li::before{
  content: '';
  background: url('../img/triangle.svg');
  position: absolute;
  width: 9.3px;
  height: 10.22px;
  left: -16px;
  top: 7px;
}
.text-red{
  background: -webkit-linear-gradient(0deg, rgba(171,34,111,1) 0%, rgba(237,59,38,1) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-pink{
  color: #9E1F63;
}
.text-yellow{
  color: #FFF200 !important;
}
.text-white{
  color: #fff !important;
}
.text-black{
  color: #000 !important;
}
.fitur-img{
  width: auto;
  height: 80px;
}
.w-350{
  width: 350px;
}
.btn-primary{
  background: linear-gradient(90deg, rgba(171,34,111,1) 0%, rgba(237,59,38,1) 100%);
  border: 0;
  border-radius: 50px;
  padding: .8rem 2rem;
}
.btn-primary:hover{
  background-color: #242E49;
}
.btn-secondary{
  background-color: #43A9ED;
  border: 0;
  border-radius: 50px;
  padding: .8rem 2rem;
}
.btn-secondary:hover{
  background-color: #368FCB;
}
.navbar{
  background-color: white;
  height: 120px;
}
.navbar .navbar-brand{
  margin-right: 4rem;
}
.navbar li a{
  color: #333;
}
.navbar li.nav-item.active{
  position: relative;
}
.navbar li.nav-item.active a{
  font-weight: 500;
}
.navbar li.nav-item a:hover{
  color: #FABF37;
}
.navbar li.nav-item.active a:hover{
  color: #fff;
  cursor: default;
}
.navbar li.nav-item.active::after{
  position: absolute;
  content: '';
  height: 4px;
  border-radius: 8px;
  width: 30px;
  background: #FABF37;
  bottom: 2px;
  left: 9px;
}
.navbar li.nav-item + li.nav-item{
  margin-left: 2rem;
}

.footer{
  padding: 2rem 0;
  background-color: #808285;
  color: #fff;
}
.footer p{
  color: #fff;
}
.footer .title-footer{
  font-weight: 800;
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: .5rem;
}
.footer .title-footer2{
  font-weight: 800;
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: .5rem;
}
.footer ul{
  list-style: none;
  padding-inline-start: 0;
}
.footer ul li a{
  color: #fff;
}
.footer ul li + li{
  margin-top: .75rem;
}
.footer ul li.sosmed + li.sosmed{
  margin-top: 0;
}
.footer ul li a:hover{
  text-decoration: underline;
}
.footer .footer-sosmed{
  display: flex;
}
.footer .footer-sosmed li + li{
  margin-top: 0;
  margin-left: 1rem;
}
.footer .footer-sosmed li img{
  max-height: 40px;
}

.copyright{
  background-image: linear-gradient(90deg, rgba(169,33,115,1) 0%, rgba(236,28,39,1) 100%);
  color: #fff;
  font-size: 14px;
  padding: 1rem;
}

.has-back{
  height: 850px;
}
.has-back .title{
  padding-top: 5rem;
}
.back-banner{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.has-right-back{
  position: relative;
}
.right-back{
  position: absolute;
  right: 0;
  top: 0;
  height: 550px;
}

.btn-banner{
  position: absolute;
  bottom: 120px;
  z-index: 1;
}

.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-15 {
  flex: 0 0 20%;
  max-width: 20%;
}
@media (min-width: 768px) {
  .col-sm-15 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.faq-img{
  height: 100px;
  margin-bottom: 1rem;
}
.ask-img{
  height: 80px;
}
.line{
  height: 3px;
  background-color: #A00055;
}
ul.tab-faq{
  list-style: none;
  display: flex;
  padding-inline-start: 0;
}
ul.tab-faq li{
  margin-right: 1rem;
  position: relative;
  cursor: pointer;
}
ul.tab-faq li.title-list{
  font-weight: 800;
  margin-right: 4rem;
  color: #A00055;
  cursor: text !important;
}
ul.tab-faq li.active::after{
  content: '';
  display: block;
  bottom: 0;
  height: 3px;
  width: 50px;
  background-color: #A00055;
}

.left-faq{
  background-color: #FFC2FA;
  padding: 1rem;
}
.left-faq .title-faq{
  font-weight: 600;
  margin-bottom: 2rem;
}
.left-faq ul{
  list-style: none;
  font-weight: normal;
}
.left-faq ul li{
  cursor: pointer;
}
.left-faq ul li.active{
  font-weight: 600;
}
.left-faq ul li.active ul{
  position: relative;
}
.left-faq ul li.active ul::before{
  content: '';
  height: 100%;
  position: absolute;
  border-left: 1px solid #bd68b6;
  left: 0;
}
.left-faq ul li:first-child{
  margin-top: 1rem;
}
.left-faq ul li + li{
  margin-top: 1rem;
}
.left-faq .tab-list li ul{
  display: none;
}

.show{
  display: block !important;
}

.input-group-text.icon{
  background-color: transparent;
  border-right: 0;
}
.input-group-text.search{
  background-color: #A00055;
  border: 1px solid #A00055;
  color: white;
}
.noborder-left{
  border-left: 0;
}

.right-answer{
  padding-left: 3rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  
  .w-350{
    width: 100%;
  }
  .navbar{
    padding: 0;
  }
  .navbar .navbar-brand{
    padding-left: 1rem;
  }
  .navbar-collapse{
    position: absolute;
    top: 100%;
    background: #bd2130;
    width: 100%;
    padding: 1rem 0;
    z-index: 1;
    left: 0;
  }
  .dropdown-menu.show{
    background-color: transparent;
    border: 0;
  }
  .dropdown-menu.show li{
    margin-left: 0 !important;
  }
  .dropdown-menu.show li a{
    color: #fff;
  }
  .navbar li + li{
    margin-left: 2rem;
  }
  .navbar li:first-child{
    margin-left: 2rem;
  }
  .mainBanner img{
    width: 100% !important;
    height: auto !important;
  }
  .box-banner .text-banner{
    position: relative !important;
    margin-left: 0 !important;
    max-width: 100% !important;
    top: 0 !important;
    transform: unset !important;
    padding: 1rem;
  }
  .content-height{
    min-height: unset !important;
  }
  .space-mb {
    margin-bottom: 2rem;
  }
  .slick-next:before{
    right: -1px;
  }
  .slick-prev:before{
    left: 34px;
  }
  .btn.btn-outline-secondary.white{
    margin-left: 0 !important;
  }
  .footer .sosmed img{
    height: 60px;
  }
  .navbar .navbar-toggler-icon svg path{
    fill: #fff;
  }
  .navbar button.navbar-toggler {
    outline: 0;
    box-shadow: none;
  }
  .inventory .action img{
    height: 32px;
  }
  .women-faq{
    display: none;
  }
  .detail-dooh .spek-dooh .btns{
    width: 50%;
  }
  .add-info .col-md-6{
    margin-bottom: 1rem;
  }
  .text-banner img{
    height: 24px;
  }
  .text-banner .style-dooh{
    font-size: 2rem;
  }
  .fitur img.icon{
    height: 80px;
    display: block;
    margin-bottom: 1rem;
  }
  .payment-logo{
    position: relative !important;
    width: 90%;
    margin: 0 auto;
  }
  .faq-adsqooDooh{
    margin-top: 0 !important;
  }
  .faq-title{
    display: block !important;
    text-align: center;
  }
  .box-banner.affiliate .mainBanner img{
    height: 100% !important
  }
  .box-banner.affiliate .text-banner{
    position: relative !important;
    margin-left: 0 !important;
    max-width: 100% !important;
    top: 10px !important;
    transform: unset !important;
    padding: 1rem;
    text-align: right;
    width: 100%;
  }
  .box-banner.affiliate .text-banner p{
    font-size: 1rem !important;
    margin-bottom: 2.5rem;
  }
  .box-banner.affiliate .container{
    position: relative !important;
    top: 0;
  }
  .box-banner.affiliate .text-banner .style-dooh{
    font-size: 1.25rem !important;
    margin-left: .75rem !important;
  }
  .box-banner.affiliate .text-banner img{
    height: 18px;
  }
  .what-wrapper{
    height: unset;
    width: 100%;
    padding: 2rem 0;
  }
  .img-what{
    height: 300px;
    position: relative;;
  }
  .btn-join-us img{
    height: 80px !important;
    position: relative !important;
    right: 0 !important;
    bottom: 0 !important;
  }
  .testimonials.affiliate .pl3{
    padding-left: 0 !important;
  }
  img.btn-join-us2{
    height: 80px !important;
  }
  img.img-join-us2 {
    height: 350px !important;
    margin-bottom: -55px !important;
  }
  .has-background.custom{
    background: url(../img/Back-80.jpg) repeat top !important;
    background-size: 100% !important;
  }
  .text-right.join-aff{
    text-align: center;
  }
  .col-md-2.col-half-offset{
    margin-left: 0;
  }
  .icon-left{
    height: 40px !important;
    width: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-left img{
    width: 30px;
    height: 30px;
  }
  .icon-desc{
    height: unset !important;
  }
  .icon-desc .subtitle{
    font-size: 1rem;
  }
  .icon-desc p {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .anim-push-notif img{
    width: 150px !important;
  }
  .button-online.center{
    bottom: 7px !important;
  }
  .button-online.center img{
    height: 40px;
  }
  img.target-icon{
    position: relative !important;
  }
  .red-border{
    padding: 1rem !important;
  }
  .desc-size{
    padding: .5rem !important;
  }
  .label-size{
    padding: .5rem 1rem !important;
  }
  .button-online{
    left: 48% !important;
    bottom: 11px !important;
    transform: translateX(-50%);
  }
  .button-online img{
    height: 40px !important;
  }
  .navbar-brand img{
    height: 40px;
  }
  .navbar{
    height: 80px;
  }
  .section{
    padding: 40px 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navbar .navbar-toggler-icon svg path{
    fill: #fff;
  }
  .navbar button.navbar-toggler {
    outline: 0;
  }
  .mainBanner img{
    width: 100% !important;
    height: auto !important;
  }
  .box-banner .text-banner{
    position: relative !important;
    margin-left: 0 !important;
    max-width: 100% !important;
    top: 0 !important;
    transform: unset !important;
    padding: 1rem;
  }
  .navbar-collapse {
    position: absolute;
    top: 100%;
    background: #bd2130;
    width: 100%;
    padding: 1rem;
    z-index: 1;
    left: 0;
  }
  .navbar li.nav-item + li.nav-item{
    margin-left: 0 !important;
  }
  .dropdown-menu.show{
    background-color: transparent;
    border: 0;
  }
  .dropdown-menu.show li{
    margin-left: 0 !important;
  }
  .dropdown-menu.show li a{
    color: #fff;
  }
  .btn.btn-outline-secondary.white{
    margin-left: 0 !important;
  }
  .women-faq {
    position: absolute;
    bottom: 0px;
    height: 350px !important;
    left: 0;
  }
  .inventory .action img{
    height: 32px;
  }
  .payment-logo{
    position: relative !important;
    width: 90%;
    margin: 0 auto;
  }
  .faq-adsqooDooh{
    margin-top: 0 !important;
  }
  .login-dooh{
    display: flex;
    align-items: center;
  }
  .spek-dooh .sosmed img{
    width: 32px;
  }
  .spek-dooh .sosmed:last-child img{
    width: 24px;
    margin-left: -3px;
  }
  .spek-dooh .cart{
    width: 32px;
  }
  .box-banner.affiliate .mainBanner img{
    height: 100% !important
  }
  .box-banner.affiliate .text-banner{
    position: relative !important;
    margin-left: 0 !important;
    max-width: 100% !important;
    top: 30px !important;
    transform: unset !important;
    padding: 1rem;
    text-align: right;
    width: 100%;
  }
  .box-banner.affiliate .text-banner p{
    font-size: 2rem !important;
    margin-bottom: 2.5rem;
  }
  .box-banner.affiliate .container{
    position: relative !important;
    top: 0;
  }
  .box-banner.affiliate .text-banner .style-dooh{
    font-size: 3rem !important;
    margin-left: .75rem !important;
  }
  .what-wrapper{
    padding: 1rem 0;
    width: 100%;
  }
  .img-what{
    height: 442px;
    position: relative;
    left: -60px
  }
}

@media (min-width: 1024px) and (max-width: 1024px) {
  .mainBanner img{
    width: 100% !important;
    height: auto !important;
  }
  .box-banner .text-banner{
    margin-left: 0 !important;
    max-width: 50% !important;
    padding: 1rem;
  }
  .women-faq.two {
    position: absolute;
    bottom: 0px;
    height: 500px !important;
    left: 0;
  }
  .box-banner.affiliate .mainBanner img{
    height: 100% !important
  }
  .box-banner.affiliate .text-banner{
    position: relative !important;
    margin-left: 0 !important;
    max-width: 100% !important;
    top: 30px !important;
    transform: unset !important;
    padding: 1rem;
    text-align: right;
    width: 100%;
  }
  .box-banner.affiliate .text-banner p{
    font-size: 2rem !important;
    margin-bottom: 2.5rem;
  }
  .box-banner.affiliate .container{
    position: relative !important;
    top: 0;
  }
  .box-banner.affiliate .text-banner .style-dooh{
    font-size: 3rem !important;
    margin-left: .75rem !important;
  }
  .what-wrapper{
    width: 100%;
  }
  .img-what{
    height: 442px;
    position: relative;
    left: -60px
  }
}
@media (min-width: 1200px) {
  .box-banner.affiliate .container{
    position: absolute !important;
    margin-left: 0 !important;
    max-width: 1320px !important;
    top: 30px !important;
    padding: 1rem;
    text-align: right;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .box-banner.affiliate .text-banner{
    position: absolute !important;
    margin-left: 0 !important;
    max-width: 100% !important;
    top: 30px !important;
    transform: unset !important;
    padding: 1rem;
    text-align: right;
    width: 100%;
  }
  .what-wrapper{
    width: 80%;
  }
  .img-what{
    height: 485px;
    position: relative;
    left: -32px;
  }
}

/* header */
.nav-header{
  background-image: linear-gradient(90deg, rgba(169,33,115,1) 0%, rgba(236,28,39,1) 100%);
  max-width: 1920px;
  margin: 0 auto;
}
.nav-header .navbar{
  background-color: transparent;
}
.nav-header .navbar a.nav-link{
  color: #fff;
}
.nav-header .navbar a.nav-link:hover{
  color: #fff !important;
}
.nav-header .navbar .nav-item.last-item .nav-link{
  display: flex;
}
.section.has-background{
  background: url('../img/Back-80.jpg') no-repeat center;     
  background-size: cover;
}
.has-background.custom{
  background: url('../img/Back-80.jpg') no-repeat left;     
  background-size: 60% 100%;
}
.content-height{
  min-height: 110px;
}
.section.bc-1{
  background: url('../img/back-1.png') no-repeat center;     
  background-size: cover;
}
.section.bc-2{
  background-image: linear-gradient(90deg, rgba(169,33,115,1) 0%, rgba(236,28,39,1) 100%);
}
.pas-2{
  font-size: 1.25rem;
}
.section.no-padding{
  padding: 0 !important;
}
.fw-700{
  font-weight: 700;
}
.form-select.custom{
  width: 85%;
}
.btn.btn-outline-secondary.white{
  background-color: #fff;
  font-weight: 800;
  margin-left: 1rem;
  color: black;
  border-color: white;
}
.btn.btn-outline-secondary.white:active{
  background-color: #fff;
  color: black;
  border-color: white;
}
.btn.btn-outline-secondary.purple{
  background-color: #A00055;
  font-weight: 800;
  color: white;
  border-color: #A00055;
}
.btn.btn-outline-secondary.google{
  background-color: #005CFF;
  font-weight: 800;
  color: white;
  border-color: #005CFF;
}
.btn.btn-outline-secondary.fb{
  background-color: #2E3192;
  font-weight: 800;
  color: white;
  border-color: #2E3192;
}
.btn.btn-outline-secondary.red{
  background-color: red;
  font-weight: 800;
  color: white;
  border-color: red;
}
.mt32{
  margin-top: 32px;
}
.style-dooh{
  font-size: 2.5rem;
  font-weight: 800;
}
ul.benefit{
  list-style: none;
  margin-inline-start: 0;
  padding-inline-start: 0;
  padding-left: 3.5rem;
  position: relative;
}
ul.benefit li{
  position: relative;
}
ul.benefit li:nth-child(1)::before{
  position: absolute;
  content: '1';
  left: -3.5rem;
  top: -19px;
  font-size: 4rem;
  font-weight: 800;
  color: #a9a9a9;
}
ul.benefit li:nth-child(2)::before{
  position: absolute;
  content: '2';
  left: -4rem;
  top: -34px;
  font-size: 6rem;
  font-weight: 800;
  color: #a9a9a9;
}
ul.benefit li:nth-child(3)::before{
  position: absolute;
  content: '3';
  left: -3.5rem;
  top: -19px;
  font-size: 4rem;
  font-weight: 800;
  color: #a9a9a9;
}
ul.benefit li > div{
  color: #A00055;
  font-weight: 700;
  font-size: 1.15rem;
}
.w-100{
  width: 100%;
}
.form-select{
  height: 38px;
}
.card-box{
  border: 1px solid #d6d6d6;
  margin-bottom: 1.5rem;
  position: relative;
}
.card-box .content{
  padding: 1rem;
}
.card-box .img-inventory{
  height: 171px;
  object-fit: cover;
  width: 100%;
  margin-top: -2px;
}
.card-box .title{
  font-weight: 600;
  font-size: 1.2rem;
  position: relative;
  margin-bottom: .5rem;
  color: #000;
}
.card-box .subtitle{
  font-weight: 300;
  font-size: 1rem;
  position: relative;
  color: #000;
}
.card-box .price{
  font-weight: 400;
  font-size: 1rem;
  position: relative;
  color: #000;
}
.status{
  color:deepskyblue
}
.card-box .love{
  position: absolute;
  top: 10px;
  right: 10px;
}
.card-box .action{
  margin-top: 1.5rem;
}
.women-faq{
  position: absolute;
  bottom: 0px;
  height: 600px;
}
.women-faq.two{
  height: 627px;
}
.women-faq.three{
  height: 550px;
}
.section.faq-adsqooDooh{
  margin-top: 245px;
}
.payment-logo{
  position: absolute;
  right: 0;
}
.payment-logo .btn{
  width: 200px;
}
.login-dooh{
  align-self: center;
  margin-top: 12px;
}
.login-dooh .login{
  color: #808285;
  font-weight: 600;
  margin-left: 2rem;
}
.login-dooh .register{
  margin-left: 1rem;
  border: 1px solid #A00055;
  color: #A00055;
  background-color: transparent;
}
.login-dooh .register:active{
  border: 1px solid #A00055;
  color: #A00055 !important;
  background-color: transparent !important;
  border-color: #A00055 !important;
}
.login-dooh .register:focus{
  box-shadow: none !important;
}
.detail-dooh .img-dooh{
  height: 380px;
  object-fit: cover;
  width: 100%;
}
.detail-dooh .title{
  margin-bottom: .5rem;
}
.detail-dooh .subtitle{
  font-weight: 300;
  font-size: 1rem;
  position: relative;
  color: #000;
}
.spek-dooh ul{
  list-style: none;
  padding-inline-start: 0;
}
.spek-dooh li.spek + li.spek{
  margin-top: 10px;
}
.add-info .note{
  border: 1px solid #d6d6d6;
  padding: 1rem;
}
.h-100{
  height: 100%;
}
.pointer{
  cursor: pointer;
}
.divider{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.divider:before,
.divider:after {
  background: #868686;
  height: 2px;
  content: "";
  flex: 1;
}
.divider span {
  background: transparent;
  margin: 0 20px;
}
.dropdown-menu{
  padding: 0;
}
.dropdown-menu li{
  padding: .75rem 1rem;
}
.dropdown-menu li a:hover{
  text-decoration: none;
}
.dropdown-menu li:hover{
  background: #eaeaea;
}
.section.back-sms{
  background: url('../img/back-sms@2x-80.jpg') no-repeat center;     
  background-size: cover;
}
.btn-coba-sekarang{
  margin-left: -.5rem;
  height: 60px;
}
.cara-sms{
  position: relative;
}
.cara-sms p{
  padding-left: 2.5rem;
  position: relative;
}
.cara-sms.no-order p{
  padding-left: 0;
  position: relative;
  content: none;
}
.cara-sms.no-order p::before{
  content: none !important;
}
.cara-sms.satu p::before{
  content: url(../img/no-1.png);
  position: absolute;
  left: 0;
  transform: scale(.8);
  top: 0;
}
.cara-sms.dua p::before{
  content: url(../img/no-2.png);
  position: absolute;
  left: 0;
  transform: scale(.8);
  top: 0;
}
.cara-sms.tiga p::before{
  content: url(../img/no-3.png);
  position: absolute;
  left: 0;
  transform: scale(.8);
  top: 0;
}
.cara-sms.empat p::before{
  content: url(../img/no-4.png);
  position: absolute;
  left: 0;
  transform: scale(.8);
  top: 0;
}
.cara-sms img{
  height: 100px;
}
ul.layanan-online{
  padding-inline-start: 1rem;
}
ul.layanan-online li{
  color: white;
}
.box-banner{
  position: relative;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  max-height: 1080px;
}
.mainBanner .slick-slide{
  padding: 0 !important;
}
.mainBanner img{
  width: 100%;
  display: inline-block;
  height: calc(100vh - 120px);
  object-fit: cover;
}
.mainBanner img.h-normal {
  height: unset;
}
.box-banner .text-banner{
  margin-left: 5rem;
  max-width: 30%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.accordion-button{
  background-color: #ffe5e7 !important;
  color: #000 !important;
}
.grow-unset{
  flex-grow: unset;
}
.partners .slick-slide img{
  width: 150px !important;
}
.partners .slick-slide{
  text-align: center;
}
.footer .contact a{
  color: #fff;
}
.footer a {
  text-decoration: none;
}
.box-banner.affiliate .mainBanner img{
  width: 100%;
  display: inline-block;
  height: unset
}
.box-banner.affiliate{
  max-height: unset;
}
.box-banner.affiliate .container{
  position: absolute;
  top: 0;
}

.box-banner.affiliate .text-banner .style-dooh{
  font-size: 3.5rem;
}
.box-banner.affiliate .text-banner p{
  font-size: 2rem;
}
.row.no-gutter{
  --bs-gutter-x: 0
}

.pos-relative{
  position: relative;
}
.btn-join-us img{
  height: 100px;
  position: absolute;
  right: 40px;
  bottom: 50px;
}
.img-join-us{
  margin-bottom: -40px;
}
.mitra .box{
  border: 2px dashed #A00055;
  border-radius: 8px;
  padding: 1.5rem 1rem;
  position: relative;
}
.mitra .box .no-img{
  position: absolute;
  left: 1rem;
}
.testimonials.affiliate .slick-next:before {
  background: url(../img/right-arrow.svg) no-repeat;
  background-size: 20px 32px;
  display: inline-block;
  width: 20px;
  height: 32px;
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.testimonials.affiliate .slick-prev:before {
  background: url(../img/left-arrow.svg) no-repeat;
  background-size: 20px 32px;
  display: inline-block;
  width: 20px;
  height: 32px;
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.testimonials.affiliate .slick-dots li button:before{
  opacity: 0;
}
.testimonials.affiliate .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 14px;
  height: 14px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: white;
  border-radius: 50%;
}
img.btn-join-us2{
  height: 80px;
  text-align: right;
}
img.img-join-us2{
  height: 500px;
  margin-bottom: -60px;
}
.text-right{
  text-align: right;
}
.accordion-button:focus{
  box-shadow: none;
}
.testimonials img{
  height: 300px;
  object-fit: cover;
  width: 100%;
  object-position: top;
}
.img-responsive{
  width: 100%;
  height: auto;
}
.col-half-offset{
  margin-left:4.166666667%
}



.white-mode {
  text-decoration: none;
  padding: 17px 40px;
  background-color: yellow;
  border-radius: 3px;
  color: black;
  transition: .35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px
}

.pricingTable {
  text-align: center;
  background: #fff;
  margin: 0 -15px;
  box-shadow: 0 0 10px #ababab;
  padding-bottom: 40px;
  border-radius: 10px;
  color: #cad0de;
  transform: scale(1);
  transition: all .5s ease 0s
}

.pricingTable:hover {
  transform: scale(1.05);
  z-index: 1
}

.pricingTable .pricingTable-header {
  padding: 40px 0;
  background: #f5f6f9;
  border-radius: 10px 10px 50% 50%;
  transition: all .5s ease 0s
}

.pricingTable:hover .pricingTable-header {
  background: #ff9624
}

.pricingTable .pricingTable-header i {
  font-size: 50px;
  color: #858c9a;
  margin-bottom: 10px;
  transition: all .5s ease 0s
}

.pricingTable .price-value {
  font-size: 35px;
  color: #ff9624;
  transition: all .5s ease 0s
}

.pricingTable .month {
  display: block;
  font-size: 14px;
  color: #cad0de
}

.pricingTable:hover .month,
.pricingTable:hover .price-value,
.pricingTable:hover .pricingTable-header i {
  color: #fff
}

.pricingTable .heading {
  font-size: 24px;
  margin-top: 1rem;
  color: #ff9624;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 900;
}

.pricingTable .pricing-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px
}

.pricingTable .pricing-content ul li {
  line-height: 30px;
  color: #a7a8aa
}

.pricingTable .pricingTable-signup a {
  display: inline-block;
  font-size: 15px;
  color: #fff;
  padding: 10px 35px;
  border-radius: 20px;
  background: #ffa442;
  text-transform: uppercase;
  transition: all .3s ease 0s;
  text-decoration: none;
}

.pricingTable .pricingTable-signup a:hover {
  box-shadow: 0 0 10px #ffa442
}

.pricingTable.blue .heading,
.pricingTable.blue .price-value {
  color: #4b64ff
}

.pricingTable.blue .pricingTable-signup a,
.pricingTable.blue:hover .pricingTable-header {
  background: #4b64ff
}

.pricingTable.blue .pricingTable-signup a:hover {
  box-shadow: 0 0 10px #4b64ff
}

.pricingTable.red .heading,
.pricingTable.red .price-value {
  color: #ff4b4b
}

.pricingTable.red .pricingTable-signup a,
.pricingTable.red:hover .pricingTable-header {
  background: #ff4b4b;
}

.pricingTable.red .pricingTable-signup a:hover {
  box-shadow: 0 0 10px #ff4b4b
}

.pricingTable.green .heading,
.pricingTable.green .price-value {
  color: #40c952
}

.pricingTable.green .pricingTable-signup a,
.pricingTable.green:hover .pricingTable-header {
  background: #40c952
}

.pricingTable.green .pricingTable-signup a:hover {
  box-shadow: 0 0 10px #40c952
}

.pricingTable.blue:hover .price-value,
.pricingTable.green:hover .price-value,
.pricingTable.red:hover .price-value {
  color: #fff
}

@media screen and (max-width:990px) {
  .pricingTable {
      margin: 0 0 20px
  }
}

.button-online{
  position: absolute;
  right: 20%;
  bottom: 60px;
}
.button-online.center{
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  text-align: center;
}
.wrapper-online{
  background-image: url('../img/background-online.svg');
  background-size: contain;
  background-repeat: repeat-y;
  background-position: top;
}
.border-content{
  border: 1px solid black;
  padding: 2rem 1rem;
  border-radius: 40px;
}
.anim-push-notif{
  position: absolute;
  left: 15%;
  top: 60%;
  transform: translateY(-50%);
}
.anim-push-notif img{
  width: 130%;
}
.icon-left{
  background-color: #2E3889;
  border-radius: 16px;
  padding: 1rem 2rem;
  height: 120px;
}
.icon-desc{
  border: 1px solid black;
  padding: 1rem;
  border-radius: 16px;
  height: 120px;
  width: 100%;
  margin-left: 1rem;
}
.icon-left-2{
  background-color: #fff;
  border-radius: 16px;
  padding: 1rem;
  height: 90px;
  box-shadow: 4px 5px 4px rgb(0 0 0 / 50%);
}
.icon-desc-2{
  border: 1px solid #fff;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 0 16px 16px 0;
  height: 80px;
  width: 100%;
  margin-left: -1rem;
}
img.target-icon{
  position: absolute;
  bottom: 0;
}
.red-border{
  border: 2px solid #DD335E;
  border-radius: 16px;
  padding: 2rem;
}
/* .red-border{
  position: relative;
  border: 4px solid transparent;
  border-radius: 16px;
  background: white;
  background-clip: padding-box;
  padding: 2rem;
}
.red-border::after {
  position: absolute;
  top: -2px; bottom: -2px;
  left: -2px; right: -2px;
  background: linear-gradient(126deg, rgba(241,36,36,1) 0%, rgba(209,0,112,1) 100%);
  content: '';
  z-index: -1;
  border-radius: 16px;
} */
.label-size{
  background-color: #DD335E;
  padding: 1rem 2rem;
  color: white;
  border-radius: 12px;
  width: fit-content;
}
.desc-size{
  border: 2px solid #DD335E;
  width: fit-content;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  background-color: #fff;
}
.btn-hover{
  transform: scale(1);
  transition: all .5s ease 0s;
}
.btn-hover:hover{
  transform: scale(1.15);
}
.row.h-100 .red-border {
  height: 100%;
}
a[disabled]{
  cursor: default;
  pointer-events: none;
}
.dropdown-item.active, .dropdown-item:hover {
  color: #333;
  text-decoration: none;
  background-color: #eaeaea;
}
.pricingTable li{
  text-align: left;
}
.pricingTable .pricing-content ul{
  padding: 0 2rem;
}
.pricingTable .heading{
  padding: 0 2rem;
}